<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Create a new task</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-field">
                <mat-label>Title:</mat-label>
                <mat-form-field>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="form-field">
                <mat-label>Task Description:</mat-label>
                <mat-form-field>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary">Create</button>
        </mat-card-content>
    </mat-card>
</div>
